body {
  background-color: white;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  margin-left: 20px;
}

#Header {
  color: black;
}

#Header p {
  margin-left: 15px;
}

.game {
  align-self: center;
  margin: 15px;
  padding: 10px;
  background-color: #e7e8e8;
  color: black;
}

#healthbar {
  margin: 0px;
}

form input {
  background-color: white;
  color: black;
}