body {
  background-color: #121314;
  color: #9fa1a3;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}

#Header {
  color: #d7dadd;
  margin-left: 10px;
}

#Header p {
  margin-left: 15px;
}

a {
  color: #d7dadd;
}

.game {
  align-self: center;
  margin: 15px;
  padding: 10px;
  background-color: black;
  color: #d7dadd;
}

#healthbar {
  margin: 0px;
  padding-top: 8px;
}

form input {
  background-color: black;
  color: #d7dadd;
}
