body {
  background-color: #eeecea;
  color: black;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}

#Top {
  background-color: #d3cac5;
  color: black;
  padding: 5px;
  margin-bottom: 5px;
}

#Header {
  color: black;
  margin-left: 10px;
}

#Header p {
  margin-left: 15px;
}

a {
  color: #851d1d;
}

.game {
  align-self: center;
  margin: 15px;
  padding: 10px;
  background-color: #d3cac5;
  color: black;
}

#healthbar {
  margin: 0px;
  padding-top: 8px;
}

form input {
  background-color: #a61a17;
  border-top-color: #6e1817;
  border-right-color: #6e1817;
  border-bottom-color: #6e1817;
  border-left-color: #6e1817;
  color: #eeecea;
}
